{{ define "main" }}
  <article class="container fillVerticalSpace">
    {{- .Content -}}
    {{ $site := $.Site }}
    {{ $thisPage := . }}
    <ul class="eventListing">
        {{ range .Params.initiatives }}
            <li>
              {{ $thisPoster := ($thisPage.Resources.GetMatch .image) }}
              {{ partial "responsiveImage" (dict "Site" $site "image" $thisPoster "attrs" (dict "class" "posterImage")) }}
              <strong>{{ .title | markdownify }}</strong>
              <br/>
              <em>{{ .dateTime | markdownify }}</em>
              <br/>
              {{ .description | markdownify }}
              <br/>
              {{ .location | markdownify }}
              <br/>
              {{ .who | markdownify }}
              <br/>
              {{ .registrationLink | markdownify }}
              <br/>
              {{ .recordings | markdownify }}
            </li>
        {{ end }}
    </ul>
  </article>
{{ end }}
