/*
  You can use import statements to include partials:
 */
@import 'imports/reset.css';

/*
  Or add your statements here:
 */

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8rem;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  width: 100%
}


/* Navigation menu, complete with sub-menus */

nav{
  margin-top: 1.8rem;
}

nav a{
  color: black;
  text-decoration: none;
}

nav ul{
  list-style: none;
  padding: 0;
}

nav li{
  padding: 0;
}

.mainNavMenu {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: row;
}

.subMenu{
  padding: 0 0 0 1.8rem;
}


/* Footer */

footer{
  border-top: 1px solid #000;
  text-align: center;
  font-size: 1.6rem;
}

.footerContents{
  margin: 1.8rem 0 1.8rem 0;
}

/* Containers */

.container{
	margin: 0 auto;
	max-width: 96.0rem;
	padding: 0 1.8rem;
	position: relative;
	width: 100%;
  flex: 0 0 auto;
  box-sizing: border-box;
}

.fillVerticalSpace{
  flex: 1 0 auto;
}

.toContainEverything {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* Media queries */

/* Larger than mobile */
@media only screen and (min-width: 400px) {
	
}

/* Larger than phablet */
@media only screen and (min-width: 550px) {
  .mainNavMenu {
    grid-auto-flow: column;
  }

  .subMenu {
    background-color: #fff;
    position: absolute;
    z-index: 10000;
    padding: 1rem;
    transform: rotateX(-90deg)translateX(-1rem);
    border: 1px solid black;
  }
  
  .needsSubMenu:hover .subMenu, .needsSubMenu:focus-within .subMenu {
    opacity: 1;
    transform: rotateX(0)translateX(-1rem);
    visibility: visible;
  }
}

/* Larger than tablet */
@media only screen and (min-width: 750px) {
	
}

/* Larger than desktop */
@media only screen and (min-width: 1000px) {}

/* Larger than Desktop HD */
@media only screen and (min-width: 1200px) {}